/** Styles **/

button {

    display: block;
    height: 30px;
    width: 55px;
    margin-top: 20px;

}

/* Day */
body.day {
    background-color: white;
}

h1.day {
    color: black;
}

p.day {
    color: black;
}


/* Night */
body.night {
    background-color: black;
}

h1.night {
    color: white;
}

p.night {
    color: white;
}
